 /********* 
 All things header   ***************/
.header {
  /*text-align: center;*/
  margin: 0 auto;
  padding: 0px;
  
}
.ib {
 display: inline-block;
}
 /********* **** **** **** **** **** **** **** **** 
}
PACMAN THEME 
**** **** **** **** ****  ***************/

/*********
Header with logo and recap of Score  *********/
.pacman.header {
  height: 100px;
  position: relative;
  background: url('../img/pacman_theme/pacman_logo1.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1);
}

.recap {
  display: inline-block;
  width: 32%;
  height: 55%;
  position: relative;
  top: 27%;
  font-family: Arcade Interlaced;
  font-size: 14px;
  /*border: 2px solid red;*/
}
#p1 {
  position: relative;
  left: 1%;
}
#p2 {
  position: relative;
  left: 35%;
}
.icon_avatar {
  display: inline-block;
  height: 99%;
  width: 19%;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  /*border: 1px solid red;*/
}
.wincount {
  display: inline-block;
  height: 99%;
  width: 77%;
  vertical-align: top;
  color: white;
  /*border: 1px solid red;*/
}
.wincount p {
  display: block;
}
.wincount p:first-child {
  display: block;
  margin: 0;
}
#p2 p {
  display: block;
  text-align: right;
}


/***** **** 
Body and BAttlefeield  **** **** */

.pacman.UX_row {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  top: -48px;
}
#ready {
  background: url('../img/pacman_theme/ready.jpg') no-repeat center center;
  background-size: contain;
  border-radius: 87px;
  border: 4px solid rgb(61, 61, 216);
  height: 90px;
  width: 90px;
  position: relative;
  left: 187%;
  vertical-align: middle;
}
#clear {
  border-radius: 87px;
  border: 4px dotted rgb(61, 61, 216);
  height: 35px;
  width: 71px;
  position: relative;
  left: 392%;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: Arcade Interlaced;
  font-size: 11px;
  padding-top: 20px;
}
#retrieve {
  border-radius: 87px;
  border: 3px dashed rgb(61, 61, 216);
  height: 24px;
  width: 71px;
  position: relative;
  left: 398%;
  vertical-align: bottom;
  text-align: center;
  color: white;
  font-family: BubbleGum;
  font-size: 15px;
  padding-top: 8px;
}

.pacman.body {
  background: url('../img/pacman_theme/pacman_bg.png') no-repeat center center; 
  background-size: 90% 90%;
  background-color: black;
  background-position-y: 134px;
}

/*** Welcome plus rankings, only when refreshing page, 
**********/
.container {
    height: 360px;
  /*border: 1px solid red;*/
  position: relative;
  top: -22px;
}
.welcome {
  border: 4px dotted rgb(61, 61, 216);
  height: 348px;
  width: 434px;
  position: relative;
  top: -411px;
  left: 409px;
  color: rgba(223, 223, 64, 0.95);
  font-family: Arcade Interlaced;
  font-size: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.87);
}
.welcome p:first-child{
  margin-top: 11px;
  margin-bottom: 8px;
}
.welcome p:nth-child(2) {
  margin-top: 8px;
  margin-bottom: 7px;
}

.dash {
  border: 4px dotted rgb(61, 61, 216);
}

.rankings {
  border-top: 4px dotted rgb(61, 61, 216);
  height: 72%;
  width: 100%;
  color: rgba(223, 223, 64, 0.95);;
  font-family: Arcade Interlaced;
  text-align: center;
  position: relative;
  top: 12px;
}
.rankings :nth-child(4) {
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
}

/**********    BATTLEFIELD ****************************/

.pacman.battlefield {
  width: 100%;
  height: 25em;
  position: relative;
  left: 0%;
}
.pacman.battlefield ul {
  width: 50%;
  height: 32%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  top: -1%;
  left: 1%;
}
#row2.pacman {
  border-top: 4px dashed yellow;
  border-bottom: 4px dashed yellow;
}
.pacman.row :nth-child(2) {
  border-left: 4px dashed yellow;
  border-right: 4px dashed yellow;
}
.pacman.row li {
  width: 33%;
  height: 100%;
  display: inline-block;
  font-size: 2em;
  text-align: center;
  margin: 0 -4px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 65px;
  background-position: center;
}
.pacman.row.right_li {
background-position: left;
}
.pacman.row.left_li {
background-position: right;
}
.pacman.footer {
  background: url('../img/pacman_theme/pacman_logo1.jpg');
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 3em;
  position: relative;
  top: 48px;
}


/*******************
Battlefield simple and borders  *********************/
/*#row2 {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}
.row :nth-child(2) {
  border-left: 1px solid blue;
  border-right: 1px solid blue;
}*/
/*End battlefield*/

/*******************
FOOTER   *******************/
/*.footer {
  width: 100%;
  height: 3em;
  position: relative;
  top: 0px;
}
*/